.searchbar{
    border-bottom: 1px solid #686868;
    padding: 20px 0;
    display: flex;
}

.search-button{
    background-color: #498dfc;
    border: none;
    width: 100px;
    height: 30px;
    color: #fff;
    border-radius: 3px;
    outline: none;
    margin-right: 20px;
    &:hover{
        background-color: #407ce0;
        cursor: pointer;
    }
}

.search-field{
    height: 30px;
    width: 200px;
    border: none;
    padding: 0 10px;
    margin-right: 20px;
}

.info{
    line-height: 30px;
    color: #818181;
    font-style: italic;
}