.searchbar{
    border-bottom: 1px solid #686868;
    border-top: 1px solid #686868;
    padding: 20px 0;
}

.search-button{
    background-color: #498dfc;
    border: none;
    width: 100px;
    height: 30px;
    color: #fff;
    border-radius: 3px;
}

.search-field{
    height: 30px;
    width: 200px;
    border: none;
    padding: 0 10px;
    margin-right: 20px;
}